*{
  margin: 0;
  padding: 0;
}
body{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 6fr;
  height: 100vh;
}

nav{
  grid-column: 1/2;
  grid-row: 1/-1;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #204994;
  color:aliceblue
}

.nav-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 3fr;
}

.nav-grid > *{
  display: grid;
}

.nav-grid-head{
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  align-items: center;
}

.nav-grid-mid{
  grid-row: 2/3;
  grid-column: 1/2;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  align-items: end;
  margin-top: 30px;
}


.nav-grid-bot{
  grid-column: 1/2;
  grid-row: 3/4;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  align-items: end;
  margin-top: 30px;

}
.nav-grid-box-logo{
  text-align: center;
  font-size: 1.3rem;
}
.nav-grid-box{
  font-size: 1rem;
}

header{
  padding-left: 30px;
  padding-top: 20px ;
  background-color: lightgoldenrodyellow;
}
.header-grid{
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: 1fr 2.5fr;
  align-items: center;

}

.header-grid > *{
  display: grid;
}
.magnifying{
  margin-right: 10px; 
}
.header-search{
  display: grid;
  grid-template-columns: .5fr 9fr;
  align-items: center;
  vertical-align: middle;
  width: 400px;
}

.header-top-right{
  grid-template-columns: 0.3fr 0.4fr 1fr;
  margin-left: 100px;
  align-items: center;
  width: 250px;
  justify-items: end;
}

.header-greeting{
  grid-template-columns: .5fr 1fr;
  grid-template-rows: .4fr 1fr;
  align-items: center;
}

.greeting-img{
  grid-row: span 2;
}

#greeting-name{
  font-size: .8rm;
  margin-top: 15px;
  font-weight: 700;
}


main{
  background-color: lightsteelblue;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 20px;
}

.main-container{
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}

.main-projects{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .1fr 1fr 1fr 1fr;
}

#main-project-title{
  grid-column: span 2;
  font-weight: 700;
}